<!DOCTYPE html>
<html>
<head>

    <title>Exam Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>

    <!-- Sidebar -->
    <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:15
%">
        <h3 class="w3-bar-item">Menu</h3>
        <a href="/Lesson/Index" class="w3-bar-item w3-button">Dersler</a>
        <a href="/Student/Index" class="w3-bar-item w3-button">Sagirdler</a>
        <a href="/Exam/Index" class="w3-bar-item w3-button">Imtahanlar</a>
        <a href="/Login/LogOut" class="w3-bar-item w3-button">LogOut</a>
    </div>

 
    <div style="margin-left:15%">

        <div class="w3-container w3-teal">
            <h1>Exam Project</h1>
        </div>

        <br />
        @RenderBody()
    </div> <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
